<!DOCTYPE html>
<html>
<head>
	<title>Dojo Survey</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body class="result">
    <div id="pagewrap">
        <p class="title">Submitted Info</p>
		<p>Name: <span>@ViewBag.your_name</span></p>
		<p>Dojo Location: <span>@ViewBag.dojo_location</span></p>
		<p>Favorite Language: <span>@ViewBag.favorite_language</span></p>
		<p>Comment: <span>@ViewBag.comment</span></p>
		<a href="/" class="button">Go Back</a>
    </div>
</body>
</html>